body {
    background-color: peachpuff;
}

.fit-picture {
    height: 5em;
    position: relative;
    padding: 2em;
}

.page-title {
    font-family: 'Libre Baskerville', serif;
    position: relative;
}

.page-body {
    position: relative;
}

.detail {
    font-family: 'Libre Baskerville', serif;
}